body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9; /* 밝은 회색 배경 */
}

header {
    background-color: #3b5998; /* 페이스북 블루와 비슷한 색상 */
    color: white;
    text-align: center;
    padding: 1em 0;
}

nav ul {
    background-color: #333;
    overflow: hidden;
    color: white;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    padding: 15px 20px;
    display: inline-block;
    color: white;
    text-decoration: none; /* 링크 밑줄 제거 */
}

nav ul li a:hover {
    background-color: #575757; /* 호버 시 밝은 회색 */
}

main {
    padding: 20px;
}

.feature {
    margin-bottom: 20px;
    background-color: white; /* 각 기능 설명에 흰색 배경 */
    border-radius: 5px; /* 모서리 둥글게 */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* 가벼운 그림자 */
    padding: 15px;
}

footer {
    background-color: #3b5998; /* 헤더와 같은 색상 */
    color: white;
    text-align: center;
    padding: 10px 0;
}

.title-link {
    color: white;
    text-decoration: none; /* 링크 밑줄 제거 */
}

.title-link:hover {
    text-decoration: underline; /* 호버 시 밑줄 추가 */
}